* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');
a {
    color: inherit;
}

body {
    cursor: default;
    font-size: 12px;
    font-family: 'Spartan', sans-serif;
}